<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

<p>Web</p>
<ul style="list-style-type:disclosure-closed">
{{range .WebUtilities}}
<li><a href="/{{ . }}">{{ . }}</a></li>
{{end}}
</ul>

<p>CLI</p>
<ul style="list-style-type:disclosure-closed">
{{range $k, $v := .CliUtilities}}
<li><a href="{{ $v }}">{{ $k }}</a></li>
{{end}}
</ul>

</body>

</html>